@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /*color scheme*/
    --purple-050:#9b59b6;
    --purple-100:#8e44ad;

    --orange-050:#f39c12;
    --orange-100:#e67e22;

    --white-050:#ecf0f1;

    --gray-050:#bdc3c7;
    --gray-100:#95a5a6;
    --gray-150:#7f8c8d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--white-050);
}

.header {
    text-align: center;
}

.contact-info {
    padding:1.5rem;
}

.contact-info__header h2 {
    /* color:var(--gray-050); */
    margin-bottom:1rem;
}


.contact-info__header p {
    /* color:var(--gray-050); */
    margin-bottom:3rem;
}




.contact-card {
    background-color:#fff;
    width:90%;
    margin:0 auto;
    display:flex;
    /*row for desktop view*/
    flex-direction: column;
    border-radius: 10px;
    padding:5px;
}

.contact-info {
    color:#fff;
    background-color:var(--purple-050);
    border-radius: 10px;

}